#main.container
  %h3.header= "#{@child.firstname} #{@child.lastname}"

  %p= "Date of Birth: #{@child.dob}"
  %p= "Enrolled in #{@child.status} #{@child.program}"
  %p= "Days of week enrolled: #{@child.days}"
  %p= "Time enrolled: #{@child.time}"
  %p= "Comments: #{@child.comments}"

  =link_to("Register child for another session", edit_parent_child_path)
  %br
  =link_to("Back to Parent Page", parent_path(@child.parent_id))
