#main.container
  %h3.header= "#{@child.firstname} #{@child.lastname}"

  %p= "Date of Birth: #{@child.dob}"
  %p= "Enrolled in #{@child.status} #{@child.program}"
  %p= "Days of week enrolled: #{@child.days}"
  %p= "Time enrolled: #{@child.time}"
  %p= "Comments: #{@child.comments}"

  %br
  =link_to("Register Child for Another Session", edit_parent_child_path, :class => 'btn btn-default')
  %br
  %br
  =link_to("Back to My Parent Portal", parent_path(@child.parent_id), :class => 'btn btn-default')
