%h3 My Account
%p
  Name: #{@user.name if @user.name}
%p
  Email: #{@user.email if @user.email}
%Parent My Parent Information
%table

  %tr
    %td= link_to("#{@parent.firstname} #{@parent.lastname}", parent_path(@parent))
