%h1 Parent Portal

-# -if flash[:warning]
-#     %h1= "#{flash[:warning]}"
-#
-# -if flash[:notice]
-#     %h1= "#{flash[:notice]}"

%table
    %caption
        Parent details for
        %span.parent_name= @parent.name


    %tr
        %th Name
        %th Home Address
        %th Primary Phone Number
        %th Secondary Phone Number
        %th Primary Email
        %th Secondary Email

    %tr
        %td= "#{@parent.name}"
        %td= "#{@parent.address}"
        %td= "#{@parent.phone}"
        %td= "#{@parent.cell}"
        %td= "#{@parent.email}"
        %td= "#{@parent.email2}"
%br
=link_to("Edit Parent Information", edit_parent_path(@parent))
%br
=link_to("Register a Child", new_parent_child_path(@parent))
%br
%br
%table
    %caption Children
    %tr
        -if @children.length > 0
            %th Name
            %th DOB
            %th Status
            %th Program
        -else
            %th No children registered yet.

    -@children.each do |x|
        %tr
            %td= link_to("#{x.name}", parent_child_path(@parent, x))
            %td= x.dob
            %td= x.status
            %td= x.program
