!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "CNS Registration Portal"
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "CNS Registration Portal"}", :name => "description"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    -# = favicon_link_tag '/images/CNS_logo.ico'
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = image_tag "banner3.jpg"
      = render 'layouts/messages'
      = yield
    %footer
      %table.table
        %tbody
          %tr
            %td.address
              %h4 Chenango Nursery School
              %p 59 W Kendrick Ave
              %p Hamilton, NY 13346
            %td.links
              %p= link_to("Home", root_path)
              %p= link_to("About Us", '/pages/about')
            %td.contact
              %p Copyright © Chenango Nursery School 2017
              %p Contact Us
              %p Phone: (315) 824 - 1810
              %p Fax: (315) 824 - 8258
